.home {
	background-image: url("../../assets/img/home/background-home-desktop.jpg");
	width: 100%;
	height: 100%;
	// background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
}

.primaryHeader {
}
